* {
  padding:0px;
}

body {
  height:100%;
  width:100%;
}

#topbar_div {
  z-index:1;
  position:fixed;
  background-color:#262c2a;
  height:7.5%;
  width:100%;
  top:0;
  left:0;
  margin:0%;
  padding:0px;
}

#arrow_down_icon {
  transition:0.5s;
  transform:rotate(-90deg);
  z-index:3;
  position:fixed;
  width:2.5%;
  top:3px;
  left:10px;
  padding: 3px;
}

#sidebar {
  transition: width 0.5s;
  z-index:1;
  position:fixed; 
  background-color:#3b3030;
  height:100%;
  width:0;
  top:0;
  left:0;
  overflow:hidden;
}

#homepage_div {
  margin-top:27.5%;
}

#sidebar a {
  margin-top:5%;
  padding: 50px 8px 8px 16px;
  text-decoration: none;
  font-size: 30px;
  color: #616161;
  display: block;
  transition: 1s;
}

#sidebar a:hover {
  color:#ffffff
}

#main {
  transition:0.5s;
}

#background {
  z-index:-1;
  background-color:#d1d1d1;
  position:fixed;
  height:100vh;
  width:100vw;
  top:0;
  left:0;
}
