body {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

div, img {
  transition: opacity 1.5s;
}

#main_heading_div {

  padding:10px;
  background-color:#454545;
  position:absolute;
  display:inline-block;
  margin-top:6%;
  margin-left:50%;
  left:-113px;
  border-radius:15px;
}

#main_heading {
  text-align:center;
  vertical-align:middle;
  color:#8c8c8c;
}

#global_warming_opt_div {
  display:inline-block;
  background-color:black;
  margin-top:5%;
  margin-left:7.5%;
  width:324px;
  height:184px;
  

}

#global_warming_opt {
  display:inline-block;
  padding-left:2px;
  padding-top:2px;
  width:320px;
  height:180px;
}

#pandemics_opt_div {
  float:right;
  background-color:black;
  margin-top:5%;
  margin-right:7.5%;
  width:324px;
  height:184px;
  
}

#pandemics_opt {
  padding-left:2px;
  padding-top:2px;
  width:320px;
  height:180px;
}

#destabilizing_regions_opt_div {
  display:inline-block;
  background-color:black;
  margin-top:2.5%;
  margin-left:20%;
  width:324px;
  height:184px;
}

#destabilizing_regions_opt {
  padding-left:2px;
  padding-top:2px;
  width:320px;
  height:180px;
}

#poverty_opt_div {
  float:right;
  background-color:black;
  margin-top:2.5%;
  margin-right:20%;
  width:324px;
  height:184px;
 
}

#poverty_opt {
  padding-left:2px;
  padding-top:2px;
  width:320px;
  height:180px;
}

#description_div {
  position:fixed;
  display:inline-block;
  
  background-color:#635f5f;
  bottom:0;
  left:0;
  width:100%;
}

#description {
  vertical-align:middle;
  text-align:center;
  color:#b5b5b5
}

#bg_div {
  background-color:#454545;
  position:absolute;
  z-index:-3;
  height:100vh;
  width:100%;
}

#bg {
  opacity: 0;
  z-index:-1;
  position:absolute;
  height:100vh;
  width:100%;
}

